@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('/styles/reset.css');
@import url('/styles/topo.css');
@import url('/styles/lista.css');

:root{
    --cor-fundo: #F2D9C5;
    --cor-titulo: rgb(26, 26, 26);;
    --cor-texto: #202020;
    --salmao: #F6C8B8;
    --rosa: #FF8F92;
    --amarelo: #F9D59B;
    --verde: #909B71;

    --fonte-jost: "Jost", sans-serif;
    --fonte-jersey: "Jersey 25", sans-serif;
}

body{
    background: var(--cor-fundo);
    color: var(--cor-texto);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--fonte-jost);
    overflow-x: hidden;
}

main{
    margin-top: 2%;
    background-color: var(--verde);
    width: 30rem;
    border-radius: 30px;
    border: solid 10px var(--amarelo);
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 0rem;
}

@media screen and (max-width: 500px) {
    main{
        width: 95%;
    }
}

